:root {
  --main-paragraph-color: #404040;
  --main-lightgray-color: rgb(156, 163, 175);
  --main-background-color: rgb(243 244 246);
  --main-border-color: #E5E7EB;
}

@font-face {
  font-family: 'Geist';
  src: url('public/fonts/Geist-Bold.woff2') format('woff2'),
       url('public/fonts/Geist-Bold.otf') format('otf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('public/fonts/Geist-Medium.woff2') format('woff2'),
       url('public/fonts/Geist-Medium.otf') format('otf');
  font-weight: 500;
  font-display: swap;
}


@font-face {
  font-family: 'Geist';
  src: url('public/fonts/Geist-Regular.woff2') format('woff2'),
       url('public/fonts/Geist-Regular.otf') format('otf');
  font-weight: 400;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


.main {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh; 
  width: 800px;
  margin: auto;
  display:flex; 
  flex-direction:column;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Geist', sans-serif;
  font-weight: 600;
  letter-spacing: normal;
}

p, span, a {
  font-family: 'Geist', monospace;
  font-weight: 400;
  color: var(--main-paragraph-color);
  line-height: 1.75;
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  flex-basis: 75%;
}

.intro-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20%;
}

.intro-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 2rem;
  right: 3px;
}

.intro-container h2 {
  font-family: 'Geist', sans-serif;
  color: var(--main-paragraph-color);
  font-size: 1rem;
  font-weight: 400;
}

.intro-container p {
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.avatar-wrapper {
  position: relative;
  display: block;
}

.memoji {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #9CA3AF;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.contact-icon {
  width: 1.75rem;
  height: auto;
}

.footer {
  padding-top: 2rem;
  border-top: 1px solid black;
}

.footer-wrapper {
  padding: .5rem 0;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: .85rem;
  color: var(--main-paragraph-color);
  margin-bottom: 2rem;
}

.footer-links-item {
  width: 100%;
  font-family: 'Geist', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  padding-bottom: .25rem;
}

.footer-links-item a {
  text-decoration: none;
  color:  #404040;;
}

.copyright {
  display: block;
  position: relative;
  text-align: center;
  bottom: 20px;
  color: var(--main-lightgray-color);
  font-size: .65rem;
}

.collapsible {
  width: 100%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  outline: none;
  color: #1F2937;
}

.details-content {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  overflow: hidden;
}
.details-content a:first-of-type {
  margin: .5rem 0;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: white;
  float: right;
  margin-left: auto;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.imprint-wrapper {
  flex: 1;
  margin-top: 1rem;
}

.imprint-wrapper p {
  margin-bottom: 1rem;
}

.button-back {
  margin-top: 1rem;
  background: none;
  width: 6rem;
  border-radius: 10px;
  border-color: black;
}
.button-back a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.button-back img {
  width: 1.5rem;
}


@media (max-width:481px)  { 
  
  .main {
    width: 100%;
    padding: 0 2rem;
  }

  .intro-wrapper {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }

  .intro-container {
    gap: 2rem;
  }

  .intro-container h1 {
    font-size: 2.75rem;
  }

  .intro-container p {
    margin-top: 1.5rem;
  }

  .contact-icon {
    width: 1.5rem;
  }

  .footer-wrapper {
    width: 100%;
    padding: .5rem 0;
  }

  .footer-container {
    width: 100%;
  }
}